.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

.earth-theme {
  background-color: #fbeec1;
  color: #8d8741;
}

#darkbtn {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#lightbtn {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#earthbtn {
  background-color: #8d8741;
  color: #fbeec1;
  border: 1px solid #659dbd;
}

.hidecontent {
  display: none;
  padding: 0.5em;
}

h1 {
  text-align: center;
}

#navbuttons {
  width: 100%;
  text-align: center;
}

.link {
  cursor: pointer;
  padding: 5px;
  text-decoration: underline;
}

.earthlink {
  cursor: pointer;
  padding: 5px;
  text-decoration: underline;
  color: #bc986a;
}
.earthlink:hover {
  background-color: #eaddc1;
}
